on: 
  release: 
    types: [published]
jobs:
  generate-and-publish-package:
    runs-on: ubuntu-latest
    name: Artifact Generator release
    steps:
     # Makes the current repository available to the workflow.
    - name: Checkout repo
      uses: actions/checkout@v4.1.0
      # Initializes Node.js for the runner.
    - name: Node setup
      uses: actions/setup-node@v3.8.1
      with:
        node-version: "18.x"
        registry-url: "https://registry.npmjs.org"
    - name: NPM install, test and publish
      run: |
        npm ci
        npm test
        npm publish
        echo "Packages published. To install, run:"
        echo ""
        echo "    npm install @inrupt/artifact-generator"
      env:
        NODE_AUTH_TOKEN: ${{ secrets.INRUPT_NPM_TOKEN }}
